Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Ans. (i) string

In [2]:
s = "Kumar"

Ans. (ii) list

In [3]:
l = [3,4,2,55, True, 6+8j, "you", 45.67]

Ans. (iii) float

In [4]:
f = 45.89

Ans. (iv) tuple

In [5]:
t = (6,3,44,56, "kumar", False, 5+4j, 65.45)

Q2. Given are some following variables containing data:
(i) var1=''
(ii) var2 ='[DS, ML, Python]'
(iii) var3 = ['DS', 'ML', 'python']
(iv) var4 = 1.
what will be the data type of the above given variable.

Ans. (i) var=''

In [6]:
var=''
type(var)

str

Ans. (ii) var2 ='[DS, ML, Python]'

In [7]:
var2 ='[DS, ML, Python]'
type(var2)

str

Ans. (iii) var3 = ['DS', 'ML', 'python']

In [8]:
var3 = ['DS', 'ML', 'python']
type(var3)

list

Ans. (iv) var4 = 1.

In [9]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Ans. (i) / operator for division

In [11]:
6/3

2.0

Ans. (ii) % operator for reminder

In [12]:
10%3

1

Ans. (iii) // operator for floor division

In [14]:
15//4

3

Ans. (iv) ** operator for sqaure

In [15]:
5**4

625

Q4. Create a list of length 10 of your choice contaning multiple types of data. Using loop print the element and its data type.

In [16]:
m = [42, 23, "ram",'gyani', 6+5j, 7j, True, False, 56.76, 45.34]

In [17]:
m

[42, 23, 'ram', 'gyani', (6+5j), 7j, True, False, 56.76, 45.34]

In [18]:
for i in m:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'float'>
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [6]:
a = int(input())
b = int(input())
c = a//b
while c == 0:
    print("a is purely divisible by b", c)

 45
 5

Q6. Create a list containg 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [50]:
v = [12, 4, 43, 23, 56, 34, 45, 90, 89, 78, 56, 54, 12, 14, 16, 19, 23, 25, 27, 28, 32, 35, 41, 47, 98]

In [51]:
v

[12,
 4,
 43,
 23,
 56,
 34,
 45,
 90,
 89,
 78,
 56,
 54,
 12,
 14,
 16,
 19,
 23,
 25,
 27,
 28,
 32,
 35,
 41,
 47,
 98]

In [55]:
for m in v: 
    print(m)
    if  m % 3 == 0:
        print("m is divisible by 3")
    elif m % 3 != 0:
        print("m is not divisible by 3")
    else:
        print("list is completed")

12
m is divisible by 3
4
m is not divisible by 3
43
m is not divisible by 3
23
m is not divisible by 3
56
m is not divisible by 3
34
m is not divisible by 3
45
m is divisible by 3
90
m is divisible by 3
89
m is not divisible by 3
78
m is divisible by 3
56
m is not divisible by 3
54
m is divisible by 3
12
m is divisible by 3
14
m is not divisible by 3
16
m is not divisible by 3
19
m is not divisible by 3
23
m is not divisible by 3
25
m is not divisible by 3
27
m is divisible by 3
28
m is not divisible by 3
32
m is not divisible by 3
35
m is not divisible by 3
41
m is not divisible by 3
47
m is not divisible by 3
98
m is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Given examples for both showing this property.

Mutable data type is we can edit existing data and immutable data type we can't edit in existing data. eg. "list" is mutuable data type and "string" is immutable data type.

In [21]:
g = [42, "ram",'gyani', 6+5j, 7j, True, 45.34]

In [22]:
g

[42, 'ram', 'gyani', (6+5j), 7j, True, 45.34]

In [24]:
g[2] = "Sohan"

In [25]:
g

[42, 'ram', 'Sohan', (6+5j), 7j, True, 45.34]

in list we are able to replace gyany to sohan. this is example of mutable type.

In [26]:
s = "Ramesh"

In [27]:
s

'Ramesh'

In [29]:
s [2] = e

TypeError: 'str' object does not support item assignment

in string type we can't replace e from m. so this is example of immutable type.